body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28 {
  position:absolute;
  left:281px;
  top:88px;
  width:577px;
  height:161px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u31 {
  position:absolute;
  left:118px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u33 {
  position:absolute;
  left:236px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u35 {
  position:absolute;
  left:396px;
  top:0px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
}
#u37 {
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:93px;
}
#u38 {
  position:absolute;
  left:2px;
  top:38px;
  width:114px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
}
#u39 {
  position:absolute;
  left:118px;
  top:30px;
  width:118px;
  height:93px;
}
#u40 {
  position:absolute;
  left:2px;
  top:38px;
  width:114px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:93px;
}
#u41 {
  position:absolute;
  left:236px;
  top:30px;
  width:160px;
  height:93px;
  text-align:left;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:93px;
}
#u43 {
  position:absolute;
  left:396px;
  top:30px;
  width:75px;
  height:93px;
}
#u44 {
  position:absolute;
  left:2px;
  top:38px;
  width:71px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:123px;
  width:118px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u47 {
  position:absolute;
  left:118px;
  top:123px;
  width:118px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u49 {
  position:absolute;
  left:236px;
  top:123px;
  width:160px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u51 {
  position:absolute;
  left:396px;
  top:123px;
  width:75px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
